<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
   	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
   <title></title>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link href="../css/main.css" rel="stylesheet"/>
    <link href="../font/iconfont.css" rel="stylesheet"/>
</head>
<body>
	<div id="mainContent" class="mui-content">
		<!--首页轮播-->
	    <div id="slider" class="mui-slider" >
			<div class="mui-slider-group mui-slider-loop" id="bannerSlide">
				<div class="mui-slider-item mui-slider-item-duplicate">
					<a href="javascript:;">
						<img :src="urls+bannerData[bannerLength-1].image">
					</a>
				</div>
				<div v-for="banner in bannerData" class="mui-slider-item">
					<a href="javascript:;">
						<img :src="urls+banner.image">
					</a>
				</div>
				<div class="mui-slider-item mui-slider-item-duplicate">
					<a href="#">
						<img :src="urls+bannerData[0].image">
					</a>
				</div>
			</div>
			<div class="mui-slider-indicator" id="bannerSize">
				<div v-for="(val,idx) in bannerLength" class="mui-indicator" ></div>
			</div>
		</div>
		<!--最新活动-->
		<div class="">
			<h5 class="main-h5"><span class="main-head"><i class="iconfont icon-liwu"></i>最新活动</span><span id="main-actChange" class="main-change">换一组<i class="iconfont icon-shuaxin"></i></span></h5>
		    <div>
			    <div class="mui-slider">
		        <div class="mui-slider-group mui-slider-loop" id="actSlide">
		            <!--<div class="mui-slider-item mui-slider-item-duplicate">
		                <ul class="mui-table-view mui-grid-view">
		                    <li class="mui-table-view-cell mui-media mui-col-xs-6"><a href="#"><img class="mui-media-object" src="../images/cbd.jpg">
		                            <div class="mui-media-body">Color of SIP CBD</div></a></li>
		                    <li class="mui-table-view-cell mui-media mui-col-xs-6"><a href="#"><img class="mui-media-object" src="../images/cbd.jpg">
		                            <div class="mui-media-body">Color of SIP CBD</div></a></li>
		                    <li class="mui-table-view-cell mui-media mui-col-xs-6"><a href="#"><img class="mui-media-object" src="../images/cbd.jpg">
		                            <div class="mui-media-body">Color of SIP CBD</div></a></li>
		                    <li class="mui-table-view-cell mui-media mui-col-xs-6"><a href="#"><img class="mui-media-object" src="../images/cbd.jpg">
		                            <div class="mui-media-body">Color of SIP CBD</div></a></li>
		                </ul>
		            </div>
		            <div  class="mui-slider-item">
		                <ul class="mui-table-view mui-grid-view">
		                    <li class="mui-table-view-cell mui-media mui-col-xs-6"><a href="#"><img class="mui-media-object" src="../images/cbd.jpg">
		                            <div class="mui-media-body">Color of SIP CBD</div></a></li>
		                    <li class="mui-table-view-cell mui-media mui-col-xs-6"><a href="#"><img class="mui-media-object" src="../images/cbd.jpg">
		                            <div class="mui-media-body">Color of SIP CBD</div></a></li>
		                    <li class="mui-table-view-cell mui-media mui-col-xs-6"><a href="#"><img class="mui-media-object" src="../images/cbd.jpg">
		                            <div class="mui-media-body">Color of SIP CBD</div></a></li>
		                    <li class="mui-table-view-cell mui-media mui-col-xs-6"><a href="#"><img class="mui-media-object" src="../images/cbd.jpg">
		                            <div class="mui-media-body">Color of SIP CBD</div></a></li>
		                </ul>
		            </div>
		            <div  class="mui-slider-item">
		                <ul class="mui-table-view mui-grid-view">
		                    <li class="mui-table-view-cell mui-media mui-col-xs-6"><a href="#"><img class="mui-media-object" src="../images/cbd.jpg">
		                            <div class="mui-media-body">Color of SIP CBD</div></a></li>
		                    <li class="mui-table-view-cell mui-media mui-col-xs-6"><a href="#"><img class="mui-media-object" src="../images/cbd.jpg">
		                            <div class="mui-media-body">Color of SIP CBD</div></a></li>
		                    <li class="mui-table-view-cell mui-media mui-col-xs-6"><a href="#"><img class="mui-media-object" src="../images/cbd.jpg">
		                            <div class="mui-media-body">Color of SIP CBD</div></a></li>
		                    <li class="mui-table-view-cell mui-media mui-col-xs-6"><a href="#"><img class="mui-media-object" src="../images/cbd.jpg">
		                            <div class="mui-media-body">Color of SIP CBD</div></a></li>
		                </ul>
		            </div>
		            <div class="mui-slider-item mui-slider-item-duplicate">
		                <ul class="mui-table-view mui-grid-view">
		                    <li class="mui-table-view-cell mui-media mui-col-xs-6"><a href="#"><img class="mui-media-object" src="../images/cbd.jpg">
		                            <div class="mui-media-body">Color of SIP CBD</div></a></li>
		                    <li class="mui-table-view-cell mui-media mui-col-xs-6"><a href="#"><img class="mui-media-object" src="../images/cbd.jpg">
		                            <div class="mui-media-body">Color of SIP CBD</div></a></li>
		                    <li class="mui-table-view-cell mui-media mui-col-xs-6"><a href="#"><img class="mui-media-object" src="../images/cbd.jpg">
		                            <div class="mui-media-body">Color of SIP CBD</div></a></li>
		                    <li class="mui-table-view-cell mui-media mui-col-xs-6"><a href="#"><img class="mui-media-object" src="../images/cbd.jpg">
		                            <div class="mui-media-body">Color of SIP CBD</div></a></li>
		                </ul>
		            </div>-->
		        </div>
		        <!--<div class="mui-slider-indicator" style="position: static;background-color: #fff;">
		            <span class="mui-action mui-action-previous mui-icon mui-icon-back"></span>
		            <div class="mui-number">
		                <span>1</span> / 2
		            </div>
		            <span class="mui-action mui-action-next mui-icon mui-icon-forward"></span>
		        </div>-->
		    </div>
			</div>
		</div>
		<!--教学成果-->
		<div  class="main-content">
			<h5 class="main-h5"><span class="main-head"><i class="iconfont icon-jiangbei"></i>教学成果</span><span class="main-change">换一组<i class="iconfont icon-shuaxin"></i></span></h5>
		    <ul class="mui-table-view mui-grid-view main-relPic">
		    	<li class="mui-table-view-cell mui-media mui-col-xs-4">
		    		<a href="#">
		    			<img class="mui-media-object" src="../images/goodRel.jpg"/>
		    			<h3>王明辉</h3>
		    			<h4>一等奖学金获得者</h4>
		    		</a>
		    	</li>
		    	<li class="mui-table-view-cell mui-media mui-col-xs-4">
		    		<a href="#">
		    			<img class="mui-media-object" src="../images/goodRel.jpg"/>
		    			<h3>王明辉</h3>
		    			<h4>一等奖学金获得者</h4>
		    		</a>
		    	</li>
		    	<li class="mui-table-view-cell mui-media mui-col-xs-4">
		    		<a href="#">
		    			<img class="mui-media-object" src="../images/goodRel.jpg"/>
		    			<h3>王明辉</h3>
		    			<h4>一等奖学金获得者</h4>
		    		</a>
		    	</li>
		    </ul>
		</div>
		<!--教学视频-->
		<div  class="main-content">
			<h5 class="main-h5"><span class="main-head"><i class="iconfont icon-shipin"></i>教学视频</span><span class="main-change">查看全部</span></h5>
		    <ul class="mui-table-view mui-grid-view">
		        <li class="mui-table-view-cell mui-media mui-col-xs-6">
		            <a href="javascript:;" id="detail">
		                <img class="mui-media-object" src="../images/video.jpg">
		                <div class="mui-media-body">爱思维教育培训学校开展线下教育打劫卡数据库加速度计阿萨</div>
		            	<h6 class="main-smTitle"><span>56人观看</span><span style="color: #ff4200;">免费</span></h6>
		            </a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-6">
		            <a href="#">
		                <img class="mui-media-object" src="../images/video.jpg">
		                <div class="mui-media-body">爱思维教育培训学校开展线下教育打劫卡数据库加速度计阿萨</div>
		        		<h6 class="main-smTitle"><span>56人观看</span><span style="color: #ff4200;">免费</span></h6>
		            </a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-6">
		            <a href="#"><img class="mui-media-object" src="../images/video.jpg">
		                <div class="mui-media-body">爱思维教育培训学校开展线下教育打劫卡数据库加速度计阿萨</div>
		        		<h6 class="main-smTitle"><span>56人观看</span><span style="color: #ff4200;">免费</span></h6>
		            </a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-6">
		            <a href="#">
		                <img class="mui-media-object" src="../images/video.jpg">
		                <div class="mui-media-body">爱思维教育培训学校开展线下教育打劫卡数据库加速度计阿萨</div>
		    			<h6 class="main-smTitle"><span>56人观看</span><span style="color: #ff4200;">免费</span></h6>
		            </a></li>
		    </ul>  
		</div>
		<!--新闻资讯-->
		<div class="main-content">
			<h5 class="main-h5"><span class="main-head"><i class="iconfont icon-shequxinwen01"></i>新闻资讯</span><span class="main-change">查看全部</span></h5>
		    <ul class="mui-table-view mui-grid-view">
		        <li class="mui-table-view-cell mui-media mui-col-xs-6">
		            <a href="#">
		                <img class="mui-media-object" src="../images/news.jpg">
		                <div class="mui-media-body">爱思维教育培训学校开展线下教育打劫卡数据库加速度计阿萨</div>
		            	<h6 class="main-smTitle"><span>2017-12-25发布</span></h6>
		            </a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-6">
		            <a href="#">
		                <img class="mui-media-object" src="../images/news.jpg">
		                <div class="mui-media-body">爱思维教育培训学校开展线下教育打劫卡数据库加速度计阿萨</div>
		        		<h6 class="main-smTitle"><span>2017-12-25发布</span></h6>
		            </a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-6">
		            <a href="#"><img class="mui-media-object" src="../images/news.jpg">
		                <div class="mui-media-body">爱思维教育培训学校开展线下教育打劫卡数据库加速度计阿萨</div>
		        		<h6 class="main-smTitle"><span>2017-12-25发布</span></h6>
		            </a></li>
		        <li class="mui-table-view-cell mui-media mui-col-xs-6">
		            <a href="#">
		                <img class="mui-media-object" src="../images/news.jpg">
		                <div class="mui-media-body">爱思维教育培训学校开展线下教育打劫卡数据库加速度计阿萨</div>
		    			<h6 class="main-smTitle"><span>2017-12-25发布</span></h6>
		            </a></li>
		    </ul>  
		</div>
	</div>
</body>
<script src="../js/vue.js"></script>
<script src="http://www.jq22.com/jquery/jquery-2.1.1.js"></script>
<script src="../js/mui.min.js"></script>
<script type="text/javascript">
	/*设置全局地址*/
	$(document).ready(function(){
		var URL = localStorage.getItem("$url");
		var AllUrl = URL.substring(1,URL.length-1);
		/*banner图*/
		$.ajax({
		url:AllUrl+"/asw-eas/f/FrontApp/front",
		type:"post",
		data:{
			categoryId:"f7a377bf6ba6458a892d9cb2d6c525da",
			number:3,
			param:""
		},
		dataType:"jsonp",
		success:function(data){
			var bannerLength = data.length;
			var bannerData = data;
			new Vue({
				el:"#bannerSlide",
				data:{
					urls:AllUrl,
					bannerData:bannerData,
					bannerLength:bannerLength
				}
			})
			new Vue({
				el:"#bannerSize",
				data:{
					bannerLength:bannerLength
				}
			})//默认选中第一个
			var slider = mui("#slider");
			slider.slider({
				interval: 5000
			});
		}
	})
		/*活动中心*/
		$.ajax({
		url:AllUrl+"/asw-eas/f/FrontApp/front",
		type:"post",
		data:{
			categoryId:"96822ac8835e4132b6b5cf0696d736fc",
			number:12,
			param:""
		},
		dataType:"jsonp",
		success:function(data){
			var dataLength = Math.ceil(data.length/4);
			var nowData = 4;
			var activeCont = '';
			for(var i=0;i<dataLength;i++){
				var actData = data.slice(4*i,4*i+4);
				var newUl = document.createElement("div");
				$(newUl).addClass("mui-slider-item");
				var newUlData = "<ul class='mui-table-view mui-grid-view'>";
				for(var j=0;j<actData.length;j++){
					newUlData += "<li class='mui-table-view-cell mui-media mui-col-xs-6'><a href='javascript:;'><img class='mui-media-object' src='"+AllUrl+actData[j].image+"'>"+
		                            "<div class='mui-media-body'>"+actData[j].title+"</div></a></li>";
				}
				newUlData +="</ul>";
				$(newUl).html(newUlData);
				console.log(newUl);
				$("#actSlide").append(newUl);
			}
			var startData = data.slice(0,4);
			var startSlide = document.createElement("div");
			$(startSlide).addClass("mui-slider-item mui-slider-item-duplicate");
			var startSlideData = "<ul class='mui-table-view mui-grid-view'>";
	        for(var i=0;i<startData.length;i++){
	        	startSlideData += "<li class='mui-table-view-cell mui-media mui-col-xs-6'><a href='javascript:;'><img class='mui-media-object' src='"+AllUrl+startData[j].image+"'>"+
		                            "<div class='mui-media-body'>"+startData[j].title+"</div></a></li>";
	        }
	        startSlideData += "</ul>";
	        $(startSlide).html(startSlideData);
	        $("#actSlide").append(startSlide);
			
			
			var endData = data.slice((dataLength-1)*4,4*(dataLength-1)+4);
			var endSlide = document.createElement("div");
			$(endSlide).addClass("mui-slider-item mui-slider-item-duplicate");
			var endSlideData = "<ul class='mui-table-view mui-grid-view'>";
	        for(var i=0;i<endData.length;i++){
	        	endSlideData += "<li class='mui-table-view-cell mui-media mui-col-xs-6'><a href='javascript:;'><img class='mui-media-object' src='"+AllUrl+endData[i].image+"'>"+
	                            "<div class='mui-media-body'>"+endData[i].title+"</div></a></li>";
	        }
	        endSlideData += "</ul>";
	        $(endSlide).html(endSlideData);
	        $("#actSlide").prepend(endSlide);
	        
	        $("#actSlide")[0].addEventListener("swipeleft",function(){
	        	$(this).animate({"transform":"translate(-200%,0)"});
	        })
	        mui.init({
      		statusBarBackground: '#ffffff',
      		pullRefresh : {
			    container:"#mainContent",//下拉刷新容器标识，querySelector能定位的css选择器均可，比如：id、.class等
			    down : {
			      style:'circle',//必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
			      color:'#2BD009', //可选，默认“#2BD009” 下拉刷新控件颜色
			      height:'50px',//可选,默认50px.下拉刷新控件的高度,
			      range:'100px', //可选 默认100px,控件可下拉拖拽的范围
			      offset:'0px', //可选 默认0px,下拉刷新控件的起始位置
			      auto: true,//可选,默认false.首次加载自动上拉刷新一次
			      callback :getNewData //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
			    }
			  }
      	});
      	function getNewData(){
      		mui('#mainContent').pullRefresh().endPulldown();//关闭下拉刷新动画
      		return;
      	}
      	$("#detail")[0].addEventListener("tap",function(){
      		mui.openWindow({
      			url:"detail.html",
      			id:"detail"
      		})
      	})
		},
		error:function(){
			plus.nativeUI.toast("网络错误，请求失败");
		}
	})	
	})
    </script>
</html>