.mui-active::before{
	position: absolute;
	top: 18px;
	height: 30px;
	line-height: 30px;
}
header.mui-bar-nav{
	box-shadow: none;
	background: #fff;
	border-bottom: 1px solid #EFEFF4;
}
header .mui-search span{
	line-height: 44px;
}
.mui-media-body{
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#shop-order{
	background: #fff;
	height: 55px;
	line-height: 55px;
	padding: 0 25px;
	overflow: hidden;
    margin: 0px 0 25px;
    width: 100%;
}
#shop-order li{
	float: left;
	list-style: none;
	position: relative;
	width: 70px;
	margin-right: 10px;
}
#shop-order #shop-choose{
	float:right;
	text-align: right;
	margin-right: 0px;
}
#shop-order li img{
	width: 26px;
    position: absolute;
    top: 14px;
    right: 12px;
}
#shop-order #shop-choose img{
	width: 20px;
    top: 17.5px;
    left: 10px;
}
#shop-list{
	padding: 10px;
	margin-top: 75px;
}
#shop-list img{
	max-width: 85px;
    height: 130px;
}
#shop-list h4{
	white-space: initial;
    font-weight: normal;
    font-size: 16px;
    line-height:22px;
}
#shop-list p{
	font-size: 14px;
	line-height: 18px;
}
#shop-list h5{
	margin-top: 10px;
}
#shop-list .shop-nowMoney{
	font-size: 18px;
	color: #FF5043;
	margin-right: 8px;
}
#shop-list del{
	font-size: 12px;
	color: #707070;
}
#shop-list a{
	display: flex;
}
#shop-list .shop-sellMess{
	display: -webkit-flex;
	display: flex;
}
#shop-list .shop-sellMess>div:nth-of-type(1){
	width: 80%;
	padding: 0 5px 0 0;
}
#shop-list .shop-sellMess>div:nth-of-type(2){
	width: 20%;
	display: inherit;
	justify-content: center;
	align-items: center;
}
#shop-list .shop-sellMess>div:nth-of-type(2) span{
	display: block;
	background: #FF5043;
	width: 35px;
	height:35px;
	border-radius: 50%;
	text-align: center;
	line-height: 35px;
}
#shop-list .shop-sellMess>div:nth-of-type(2) span i{
	font-size: 16px;
	color: #fff;
}
#shop-chooseBox{
	height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    display: none;	
    margin-top: -25px;		
}
#shop-chooseBox>ul{
	height: 65%;
	width: 40%;
	background: #fff;
	margin: 0;
	padding: 0;
	float: left;
	overflow-y: scroll;
}
#shop-chooseBox>ul>li{
	height: 55px;
    line-height: 55px;
    padding-left: 20px;
}
#shop-chooseBox>ul>li.tabListAct{
	border-left: 2px solid #0099ff;
	background: #F7F5F6;
}
#shop-chooseBox>ul>li>ul{
	width: 60%;
	float: left;
}
#shop-tab{
	position: fixed;
    width: 100%;
    height: auto;
    z-index: 999;
    top: 44px;
}
#shop-tabDetail{
	width: 60%;
	height: 65%;
	float: left;
	background: #F7F5F6;
	overflow-y: scroll;
	position: relative;
}
#shop-tabDetail ul{
	margin: 0;
    padding: 0 0 0 35px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}
#shop-tabDetail li{
	height: 55px;
	line-height: 55px;
	list-style: none;
}
.model-open{
	position: fixed;
}
/*商品详情*/
#goods-mess{
	margin-bottom: 8px;
}
#goods-mess h2{
	font-weight: normal;
    color: #FF4E43;
    font-size: 20px;
}
#goods-mess h3{
	font-weight: normal;
    font-size: 16px;
    white-space: initial;
    line-height: 20px;
}
#goods-mess p{
	font-size: 14px;
}
#goods-mess h5{
	font-size: 14px;
}
#goods-mess h5>span{
	margin-right: 20px;
}
#goods-messFont{
	margin-bottom: 8px;
}
#goods-messFont label{
	width: 25%;
    height: 100%;
    line-height: 55px;
    padding: 0 0 0 15px;
    color: #6B6B6B;
}
#goods-messFont span{
	display: inline-block;
    width: 75%;
    height: 100%;
    font-size: 16px;
}
#goods-messFont .mui-input-row{
	height: 55px;
    line-height: 55px;
}
#good-footer{
	display: -webkit-flex;
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #fff;
	border-top: 1px solid #E5E5E5;
	width: 100%;
    height: 55px;
    align-items: center;
    justify-content: flex-end;
}
#good-footer>div{
	display: table;
	height: 100%;
	padding: 0 15px;
	background: red;
	line-height: 55px;
}
#good-footer>div>a{
	color: #fff;
}
#good-footer>div:nth-of-type(1){
	background: -moz-linear-gradient(left, #FF9A66 0%, #FF7864 100%);
    background: -webkit-gradient(linear, left left, left bottom, color-stop(0%,#FF9A66), color-stop(100%,#FF7864));
    background: -webkit-linear-gradient(left, #FF9A66 0%,#FF7864 100%);
    background: -o-linear-gradient(left, #FF9A66 0%,#FF7864 100%);
    background: -ms-linear-gradient(left, #FF9A66 0%,#FF7864 100%);
    background: linear-gradient(to bottom, #FF9A66 0%,#FF7864 100%);
}
#good-footer>div:nth-of-type(2){
	background: #FF4F45;
}
#goods-buyBox .mui-input-group .mui-input-row,#goods-buyCar .mui-input-group .mui-input-row{
	height: 55px;
}
#goods-buyBox .mui-input-row label,#goods-buyCar .mui-input-row label{
	padding: 0 15px;
    line-height: 55px;
}
#goods-buyBox .mui-input-row .mui-numbox,#goods-buyCar .mui-input-row .mui-numbox{
	margin: 10px 8px;
}
#goods-buyBox #buyBtn,#goods-buyCar #catBuyBtn{
	width: 100%;
    padding: 0;
    height: 50px;
    margin: 5px 0 0;
    border-radius: 0;
    background: #FF4E44;
    border: none;
    color: #fff;
}
#goods-buyBox #goods-area,#goods-buyCar #goods-carArea{
	height: auto;
}
#goods-buyBox #goods-area label,#goods-buyCar #goods-carArea label{
	display: block;
	float: initial;
	line-height: 25px;
    margin-top: 10px;
}
#goods-area h5,#goods-carArea h5{
	line-height: 20px;
    margin: 0 0 10px;
}
#goods-area>div,#goods-carArea>div{
	padding: 0px 0 0 15px;
}
#goods-buyBox #goods-pic,#goods-buyCar #goods-carPic{
	height: 95px;
	padding: 0 15px;
	overflow: initial;
}
#goods-pic,#goods-carPic{
	position: relative;
}
#goods-pic .goods-goodsPic,#goods-carPic .goods-goodsPic{
	float: left;
	padding: 5px 15px;
	border:1px solid #E5E5E5;
	margin-top: -15px;
	border-radius: 6px;
	background: #fff;
}
#goods-pic img,#goods-carPic img{
	width: 50px;
    height: auto;
    max-height: 75px;
}
#goods-pic h6,#goods-carPic h6{
	padding: 30px 0;
    font-size: 12px;
}
#goods-pic h6>span,#goods-carPic h6>span{
	font-size:18px;
	color: #FF4E44;
}
#goods-pic .mui-pull-right,#goods-carPic .mui-pull-right{
	float: none;
    position: absolute;
    right: 15px;
    top: 30px;
    font-size: 25px;
}
.deal-border{
	width: 100%;
	height: 6px;
	margin: 0;
	padding: 0;
	background: url("../images/borderBg.png");
	background-size: 100% 100%;
}
#deal-uMess{
	background: #fff;
    padding: 15px 35px 15px 15px;
}
#deal-uMess .mui-input-row{
	height: auto;
}
#deal-uMess label{
	padding: 0;
    font-size: 16px;
    height: 100%;
    line-height: 35px;
}
#deal-uMess h5{
	margin: 0;
    height: 100%;
    line-height: 35px;
    font-size: 16px;
    color: #000;
}
#deal-uMess p{
	color: #000;
	font-size: 16px;
}
#todeal-Mess{
	margin-top: 15px;
}
#todeal-goodPic img{
	max-width: 75px;
    height: 100px;
}
#todeal-goodPic h3{
	font-weight: normal;
    white-space: initial;
    font-size: 16px;
    line-height: 20px;
}
#todeal-goodPic h2{
	font-weight: normal;
    white-space: initial;
    font-size: 18px;
    line-height: 25px;
    color: #FD5042;
    margin-top: 15px;
}
#todeal-goodPic h2>span{
	float: right;
	color: #000;
}
#todeal-Mess .mui-table-view-cell{
	padding: 15px;
}
#todeal-Mess .todeal-change{
	margin-right: 20px;
}
#todeal-buyNow{
	display: -webkit-flex;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    border-top: 1px solid #E5E5E5;
    width: 100%;
    height: 55px;
    align-items: center;
    justify-content: flex-end;
}
#todeal-buyNow .todealBuyBtn{
	display: table;
    height: 100%;
    padding: 0 25px;
   	background: #FF4F45;
    line-height: 55px;
}
#myaddr-addBtn{
	display: block;
	width: 100%;
    height: 100%;
    padding: 0 25px;
   	background: #FF4F45;
    line-height: 55px;
    text-align: center;
}
#myaddr-addBtn a{
	color: #fff;
}
#todeal-buyNow .todealBuyBtn>a{
	color: #fff;
}
#todeal-buyNow .todealMoney{
	height: 100%;
    line-height: 54px;
    padding: 0 15px;
    font-size: 14px;
    color: #9B9B9B;
}
#todeal-buyNow .todealMoney>span{
	color: #FF4F43;
    font-size: 18px;
}
#address-Mess .mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio]{
	left: 0px;
}
#address-Mess .mui-checkbox.mui-left label, .mui-radio.mui-left label{
	padding-left: 34px;
}
#address-Mess h3{
	font-size: 18px;
    font-weight: normal;
    line-height: 26px;
}
#address-Mess h3>span.addr-phone{
	float: right;
}
#address-Mess p{
	font-size: 16px;
	color: #000;
	margin-top: 15px;
}
#address-Mess .mui-checkbox>label.chooseAddr{
	color: #FF4F45;
}
#address-Mess .mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{
	color: #FF4F45;
}
#address-Mess button{
	border-radius: 14px;
	padding: 5px 20px;
}
#address-Mess .mui-card,#myDeal-list .mui-card{
	margin:10px 0 0;
	box-shadow: none;
}
#myDeal-list h3{
	font-size: 14px;
	font-weight: normal;
}
#myDeal-list .myDeal-status{
	float: right;
	color:#FF4F47;
}
#myDeal-list .myDeal-box{
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}
#myDeal-list .myDeal-box img{
	width: 15%;
    height: auto;
    max-height: 80px;
    margin-right: 5px;
}
#myDeal-list .myDeal-boxFont{
	display: inherit;
	flex-direction: column;
	justify-content: center;
	padding: 0 5px;
	height: 80px;
}
#myDeal-list .myDeal-boxMoney{
	display: inherit;
	flex-direction: column;
	justify-content:  center;
	align-items: flex-end;
	padding: 0 5px;
	height: 80px;
}
#myDeal-list .myDeal-boxFont h2{
	font-size:16px;
	font-weight: normal;
	line-height: 22px;
}
#myDeal-list .myDeal-boxMoney h1{
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}
#myDeal-list .myDeal-boxMoney del{
	font-size: 12px;
}
#myDeal-list .myDeal-boxMoney h5{
	font-size: 16px;
	margin-top:15px;
}
#myDeal-list button{
	border-radius: 10px;
	padding: 5px 10px;
}
#myDeal-list .deal-buyAgain{
	border:1px solid #FF4E44;
	color: #FF4E44;
}
#myDeal-list .deal-delBtn{
	color: #6B6B6B;
}
#car-box form{
	padding: 0 15px;
}
#car-box .car-Mess{
	display: -webkit-flex;
	display: flex;
	height: 165px;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #E5E5E5;
}
#car-box .car-Mess:first-child{
	margin-top: 10px;
}
#car-box .car-goodsPic{
	width: 25%;
    height: auto;
    max-height: 135px;
}
#car-box .car-Mess .mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio]{
	left: 0;
}
#car-box .car-goodsMess{
	height: 100%;
	display: inherit;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 15px;
	width: 75%;
}
#car-box .car-goodsMess h2{
	font-size: 18px;
    font-weight: normal;
    line-height: 22px;
}
#car-box .mui-input-group .mui-input-row:after{
	display: none;
}
#car-box .car-list{
	height: 100%;
	display: -webkit-flex;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
#car-box .car-make{
	display: inherit;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
#car-box .car-make h1{
	font-size: 20px;
	font-weight: normal;
}
#car-box .car-nowMoney{
	color: #FE5047;
}
#car-box .car-make h1 .car-oldMoney{
	color: #6F6F6F;
	text-decoration: line-through;
	font-size: 14px;
	margin-left: 5px;
}
#car-box .car-make h5{
	font-size: 20px;
	margin-top: 20px;
}
#car-box .car-make h5>span{
	margin-left: 5px;
}
#car-box .car-make>img{
	width: 35px;
	height: 35px;
}
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{
	color: #FF4E44;
}
#car-buyNow{
	background: #fff;
	display: -webkit-flex;
	display: flex;
	width: 100%;
	height: 55px;
	border-top: 1px solid #E5E5E5;
	justify-content: space-between;
	align-items: center;
}
#car-buyNow .car-allMoney{
	font-size: 20px;
	color:#FE5047;
}
#car-buyBtn{
	padding:0;
	width: 100px;
	height: 100%;
	border:none;
	outline: none;
	color: #fff;
	background: #FF4F45;
	border-radius: 0;
}
#car-buyNow .mui-checkbox input[type=checkbox], .mui-radio input[type=radio]{
	top: 7px;
}